<table id="gen-table" width="100%">
  <tr class="white-a"> 
	<th class="prod-builder headline" colspan="1">Help File: Banner Manager</th>
	<th class="add-product headline" colspan="1">[ <a href="javascript:window.close()">X</a> ]</th>
  </tr>
  <tr> 
	<td colspan="2">
    <h3 style="margin-bottom:0;">Banner Manager v1.0 - General Overview</h3>
    <p style="font-size:9px; font-weight:bold; margin-top:0;">Developed by Wiseguy Digital :: <a href="http://www.wiseguydigital.com">http://www.wiseguydigital.com</a></p>
    <p>This plug-in allows you to add a banner in either an image format (usually gif, jpeg or png) or as an Adobe&reg; Flash .swf file. If using the .swf format for a banner, you will firstly need to permit the use of Flash banners in the Banner Manager configuration file (bannerConfig.php). There is a master .swf file in the Banner Manager plug-in that sets up the link to work with the tracker, so the use of getURL() in ActionScript will not work.</p>
	<h4>Banner Overview page</h4>
    <p>This page simply gives an overview of the banners and shows you the number of page displays, clicks on that banner and hence the Click Through Rate (CTR) as a percentage.</p>
	<p>You can click on the banner file to view it. You also have the option to add, edit or delete a banner from this page. If a banner has been associated to a particular page then you may also click on the link to view the page.</p>
    <a name="addedit"></a>
    <h4>Add or edit a banner pages</h4>
    <p>This page contains a form for uploading your banners as listed below:</p>
    <h5>Campaign name</h5>
    <p>This is a name for the banner for internal reference and it will also be shown as "alt" text on image banners.</p>
    <h5>Banner file</h5>
    <p>Use the browse button to locate the file on your computer's hard drive.</p>
    <h5>Banner position</h5>
    <p>This selects which placeholder in the template file to associate this banner with. These are defined in the Banner Manager configuration file (bannerConfig.php).</p>
    <h5>Link URL</h5>
    <p>This is the full URL of the page that you wish the user to be redirected to after they click on the banner e.g. http://www.tradingeye.com.</p>
    <h5>Banner type</h5>
    <p>If you have set the option to allow SWFs in the Banner Manager configuration file (bannerConfig.php), then you will see this section to choose whether you wish to have a Flash banner or an image banner.</p>
    <h5>Banner size</h5>
    <p>There are 2 fields here that must be entered: the banner's width and height in pixels.</p>
    <h5>Display page</h5>
    <p>If you wish for the banner to appear on a particular page in the site, simply enter the URL (in full), otherwise the banner will be shown across the site.</p>
    <h5>Banner is active?</h5>
    <p>This simply allows you to activate or de-activate a banner without having to delete it permanently.</p>
    
    </td>
  </tr>
</table>